if theme.gitment.status
    div#gitment
    link(rel="stylesheet", href="https://imsun.github.io/gitment/style/default.css" type='text/css')
    script(src='https://imsun.github.io/gitment/dist/gitment.browser.js')
    script.
        var gitment = new Gitment({
            id: location.href, // 可选。默认为 location.href
            owner: '#{theme.gitment.githubId}',
            repo: '#{theme.gitment.repo}',
            oauth: {
                client_id: '#{theme.gitment.clientId}',
                client_secret: '#{theme.gitment.clientSecret}'
            }
        })
        gitment.render('gitment')
